@import url('https://fonts.googleapis.com/css?family=Nunito:900&display=swap');
* {
     font-family: 'font-family: 'Nunito', 'sans-serif'
     background-color: darkslateblue;
     color: darkblue
}
.center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
   }
   div {
     width: 100%;
     height: 200px;
     position: relative;
     background: black;
     
   }

   .stretched {
        width: 2000px;
        height: auto;
   }

              


